.page{
    padding: 1rem;
}

.card{
   
}

.overlay{
    position: absolute;
    top: 35%;
    left: 75%;
    cursor: pointer;
}

.rows-select{
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid black;
}

.sub-con{
    margin-top: 5px;
    display: flex;
    justify-content: end;
}

.submit{
    background-color: transparent;
    color: black;
    font-size: 1rem;
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.submit:hover{
    background-color: black;
    color: white;
}
